//- base.pug
doctype html
html(lang="pt-br")
  head
    block head
      title Blog MenuQR
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="MenuQR é a forma mais fácil de conectar o seu negócio com os principais mecanismos de busca do mercado.")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv="Content-Language" content="pt-br")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Nunito+Sans:400,800")

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-112359359-4')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112359359-4');

body.font-sans

  header.bg-brand-blue.mb-16
    .container.max-width-md.mx-auto.px-4.py-2
      a(href="/").inline-block.no-underline
        img(src="/images/menyoo-logo-white-horizontal.png", alt="Logotipo Menyoo").h-8
        span.block.text-white.text-xs.lowercase.-mt-2.text-right.mr-1.tracking-wide Blog


  block content

  //- footer.container.max-width-md.mx-auto
    p.text-center
      small Baseado em <a class="text-brand-blue no-underline" href="https://jamstack.org/>">JAMStack</a>. Hospedado em <a class="text-brand-blue no-underline" href="https://www.netlify.com/?source=menyoo.me">Netlify</a>. Código fonte <a class="text-brand-blue no-underline" href="https://github.com/menyoo-me/blog">GitHub</a>.