//- base.pug
doctype html
html(lang="pt-br")
  head
    title Blog MenuQR
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="MenuQR é a forma mais fácil de conectar o seu negócio com os principais mecanismos de busca do mercado.")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv="Content-Language" content="pt-br")

    link(rel="stylesheet" href="/css/style.css")
body
  .container.max-width-md.mx-auto
    block content