extends ../templates/base.pug

block content

  .container.max-width-md.mx-auto
    .my-8.px-2
      h2.mb-4 Postagens recentes
      ul.list-reset
        li
          a(href="/menuqr-agora-e-menyoo/").text-grey.text-brand-blue MenuQR agora é Menyoo

  //- .flex.-mx-4.mt-4
  //-   .flex-1.mx-4
  //-     div.flex.items-center.mb-2.px-2
  //-       div.mr-2
  //-         img(src="https://www.gravatar.com/avatar/ad20ea263b745ae2c34a402655e1e22d", alt="Vinicius Cainelli").rounded-full.border-white.border.shadow.h-10
  //-       div.text-sm
  //-         span.text-brand-blue.font-medium.no-underline.block Vinicius Cainelli
  //-         span.font-light.text-xs 12/05/2018

  //-     div
  //-       img(src="/images/menuqr-agora-e-menyoo.png", alt="Imagem com logotipo MenuQR à esquerda, uma seta ao lado direito apontando para a direita e o logotipo da Menyoo ao lado direito da imagem.")

  //-     .px-2
  //-       a(href="/menuqr-agora-e-menyoo/").no-underline.text-grey
  //-         h3 MenuQR agora é Menyoo