extends ../templates/base.pug

block content

  .container.max-width-md.mx-auto.px-4

    .flex.flex-wrap.md--flex-row-reverse.md--items-center.mb-16
      .md--w-1_2.md--pl-8.mb-8.md--mb-0
        h1.text-2xl.md--text-3xl.tracking-wide.font-extrabold.text-4xl.md--text-5xl
          a(href="/menuqr-agora-e-menyoo/").text-grey-dark.hover--text-brand-blue.no-underline
            | MenuQR agora é Menyoo
        p.text-grey-light.font-light.mt-2.text-base
          | Nesse post vamos explicar esse grande passo da nossa empresa.
      .md--w-1_2
         a(href="/menuqr-agora-e-menyoo/")
          img(src="/images/menuqr-agora-e-menyoo.png", alt="Imagem com logotipo MenuQR à esquerda, uma seta ao lado direito apontando para a direita e o logotipo da Menyoo ao lado direito da imagem.")