extends ../../templates/base.pug

block head
  title MenuQR agora é Menyoo :: Menyoo Blog

block content
  article.blog-post
    //- Article Header
    .text-center.mb-16.px-2
      .max-w-24.w-24.border-b.border-brand-blue.mx-auto.mb-4
      h1.text-2xl.md--text-3xl.text-grey MenuQR agora é Menyoo
      p.text-grey-lighter.font-light.mt-2 Nesse post vamos explicar esse grande passo da nossa empresa.

    div.article-content
      div.flex.items-center.mb-4.px-2
        div.mr-2
          img(src="https://www.gravatar.com/avatar/ad20ea263b745ae2c34a402655e1e22d", alt="Vinicius Cainelli").rounded-full.border-white.border.shadow.h-10
        div.text-sm
            span.mr-1.font-light Por
            a(href="https://www.linkedin.com/in/vicainelli", target="_blank").text-brand-blue.font-medium.no-underline Vinicius Cainelli
            span.ml-1.font-light em 12/05/2018

      p Pra começar, vamos falar rapidamente o que é a MenuQR, na MenuQR tínhamos como objetivo auxiliar os bares e restaurantes a entregarem uma versão traduzida de seus cardápios.

      p Com o passar do tempo, percebemos que não era apenas de tradução de cardápios que os nossos clientes necessitavam, a dor era mais funda, e foi então que nasceu a Menyoo.

      p A Menyoo tem com principal missão aumentar a acessibilidade do conteúdo dos cardápios de nossos clientes para seus consumidores.

      p Com apenas um simples cadastro do cardápio em nossa plataforma, nossos clientes tem uma série de benefícios que melhoram a experiência do estabelecimento e seus clientes, benefícios esses que vão desde acessibilidade até inteligência de mercado

      p Como estamos no processo de desenvolvimento e testes de nossa nova plataforma, Menyoo, os cadastros ainda estão sendo feitos pela nossa primeira plataforma, MenuQR.

      p A migração será feita em algumas semanas, e você como nosso cliente não vai precisar fazer absolutamente nada.

      p Começaremos migrando nossos clientes em lotes, alguns dias antes da migração começar, você será notificado pelo email que forneceu no cadastro.

      p No momento da migração, o seu acesso ao painel menuqr.com será desabilitado, para que não haja nenhuma alteração acidental em seu cardápio durante a migração.

      p Ao final do processo, você será notificado por email, com os dados de acesso da nova plataforma.